<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="base::navlinks"></div>
<div class="container" style="background-color:#e6ffff">
<h2>Courses</h2>
<div>
    <table table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Instructor</th>
            <th scope="col">Description</th>
            <th scope="col">Credit</th>
        </tr>
        </thead>
        <tr th:each="course : ${courses}">
            <td>[[${course.title}]]</td>
            <td>[[${course.instructor}]]</td>
            <td>[[${course.description}]]</td>
            <td>[[${course.credit}]]</td>
        </tr>
    </table>
    <br/><br/>
    <div align="center">
    <a th:href="@{/addcourse}"><button type="button" class="btn btn-primary">Add Course</button></a>
    </div>
</div>
</div>
<div th:replace="base::navlinks"></div>
</body>
</html>

